@media (max-width:1400px){
    .dragArea{
       width: calc(95% - 232px);
    }
    .BSHL{
        width: calc(34% - 232px);
    }
    .dragBox{
       width: 100%;
    }
    .dragCollumn{
        width: 50%;
    }
}
@media (max-width:1050px){
    .hideDesktop{
        display: flex !important;
    }
    .hideMobile{
        display: none !important;
    }
    .mobileOverlay{
        display: flex;
    }
    nav{
        width: 100%;
        height: 40px;
        top: unset;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dragArea{
        width: 90%;
        left: unset;
        margin-right: 20px;
     }
    main{
        left: unset;
    }
    .main-right-tasks{
        margin: 0;
    }
    .main-right-top{
        margin-top: 30px;
        justify-content: center;
    }
    .main-right-bottom{
        justify-content: center;
        margin-bottom: 80px;
    }
    .addTaskMain{
        left: 20%;
    }
    .contactContent{
        left: unset;
        width: 40%;
        padding-left: 0;
    }
    .contactContentRight{
        left: 40%;
    }
    .contactBox{
        margin-left: 0;
    }
    .impressumContent{
        left: 50px;
    }
}
@media (max-width: 850px){
    .dragArea{
        flex-wrap: wrap;
    }
    .searchPart{
        left: 20%;
    }
    .dragCollumn{
        max-width: 30%;
        min-height: 150px;
    }
    .BSHL{
        min-width: 100%;
        position: unset;
    }
    .addTaskMain{
        left: 10%;
    }
    .task-urgent{
        width: 80%;
    }
    .dragBox{
        min-height: 150px;
    }
}
@media (max-width: 700px){
    .dragCollumn{
        max-width: 45%;
        min-height: 10%;
    }
    .searchPart{
        position: absolute;
        left: unset;
        width: 95%;
    }
    .dragArea{
        margin-left: 20px;
        margin-right: 20px;
    }
    .addTaskMain{
        left: 0;
        margin-left: 20px;
        width: 90%;
    }
}
@media (max-width: 600px){
    nav{
        height: 50px;
    }
    .navLink{
        flex-direction: column;
    }
    .navLink img{
        margin: 0;
    }
    .navLink p{
        margin: 0;
    }
    .activ{
        padding: 10px;
    }
    .mobileOverlay{
        flex-direction: column;
    }
}
@media (max-width: 500px){
    .dragCollumn{
        min-width: 100%;
        min-height: 10%;
    }
    .searchBox{
        margin-left: 20px;
        width: 50%;
    }
    .searchPart{
        height: 80px;
    }
    .dragArea{
        top: 160px;
        margin: 10px;
        justify-content: center;
        width: 95%;
    }
    .dragBox{
        margin: 0;
        min-height: 80%;
    }
    .BSHL{
        margin-bottom: 10px;
    }
    .priorityBtn button{
        width: 30%;
    }
    #description{
        width: 100%;
    }
    .task-urgent-left{
        margin: 20px;
    }

}