main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  flex-wrap: wrap;
  left: 232px;
  top: 97px;
  bottom: 0;
  overflow: auto;
}
main p {
  font-size: 20px;
  text-align: center;
}
main h2 {
  font-size: 28px;
  text-align: center;
}
.main-left {
  height: 100vh;
  width: 25%;
  background-color: black;
}
.greetName{
  margin-left: 10px;
  color: #4589ff;
}

.main-right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-size: 50px;
  font-weight:  600;
}
.main-right-tasks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}
.main-right-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 25px;
}
.main-right-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}
.main-right {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}
.task-urgent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 660px;
  height: 150px;
  color: #fff;
  background-color: #4589ff;
  border-radius: 30px;
  padding: 40px;
}
.task-urgent-left {
  margin: 40px;
}
.task-urgent-left-top {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}
.task-urgent-left-top img {
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  object-fit: cover;
  padding: 0;
  margin: 0 15px 0 0;
}
.task-urgent-left-top h2 {
  font-size: 38px;
}
.task-urgent-right h2 {
  margin: 0 20px 10px 0;
}
.task-general {
  display: inline-block;
  height: 150px;
  width: 150px;
  padding: 40px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
  border-radius: 30px;
}
.task-general:hover {
  background-color: #d2e3ff;
}
.task-todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.task-todo-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.verticalLine{
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 145px;
  width: 3px;
  background-color: #ffffff;
}
.task-todo-top img {
  padding: 0px 22px 10px 0;
}
